@model IEnumerable<new123.Models.Survey>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Pages/src/css/w3.css")
    @Styles.Render("~/Pages/src/css/list.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SUR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-link">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu-link">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="menu-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="menu-link">@Html.ActionLink("Surveys", "Index", "Surveys")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="list">
        
        <button class="w3-button w3-teal">@Html.ActionLink("Create New", "Create")</button>
        <ul style="margin-top:2rem" class="w3-ul w3-card-4">

            @foreach (var item in Model)
            {
                <li class="w3-bar">
                    <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right none-underline-link">@Html.ActionLink("X", "Delete", new { id = item.SurveyID })</span>
                    <span class="w3-large none-underline-link">@Html.ActionLink(item.SurveyName, "jEdit", new { id = item.SurveyID })</span><br>
                    <span class="none-underline-link">@Html.ActionLink("Details", "Details", new { id = item.SurveyID }) | </span>
                    <span class="none-underline-link">@Html.ActionLink("Report", "Report", new { id = item.SurveyID }) | </span>
                    @if (item.Discontinued)
                    {
                        <span class="none-underline-link">@Html.ActionLink("Unpublished", "pushlish", new { id = item.SurveyID }) </span>
                    }
                    @if(!item.Discontinued)
                    { 
                    <span class="none-underline-link">@Html.ActionLink("Published", "pushlish", new { id = item.SurveyID }) </span>

                    }
                </li>
            }
        </ul>
    </div>
    <hr />
    <footer>
        <p>@DateTime.Now.Year - Do not stay behind</p>
    </footer>
</body>
</html>
