@model new123.Models.Survey

@{
    ViewBag.Title = "jEdit";
    Layout = "~/Views/Shared/SurveyEditLayout.cshtml";
}
<script type="text/javascript">
    
    surveryid = @Html.DisplayFor(model => model.SurveyID);

</script>
@Styles.Render("~/Pages/src/css/w3.css")
@Scripts.Render("~/Pages/view/Global.js")
@Scripts.Render("~/Pages/view/tu-menu.js")
@Scripts.Render("~/Pages/view/tu-view.js")
@Scripts.Render("~/Pages/view/main.js")
<h2>jEdit</h2>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="right:0" id='survey-menu'>
    <div class="survey-menu-area" data-bind="template: { name: whichTemplateToUse2, data: items2 }"></div>
</div>

<div id='survey-content'>
    <div class="survey-area" data-bind="template: { name: whichTemplateToUse, data: items, as: 'sur' }"></div>
</div>
<div>@Html.ActionLink("Preview", "Preview", new { id = @Html.DisplayFor(model => model.SurveyID) })</div>
<div>@Html.ActionLink("Public", "Form", new { id = @Html.DisplayFor(model => model.SurveyID) })</div>



